<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página inicial">

    <title>{% block titulo %}
        Pinterest - Página Inicial
        {% endblock %}
    </title>
    
</head>

<body>
    <h1>Bem-vindo ao Pinterest!</h1>
    <p>Explore e compartilhe suas ideias favoritas.</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block formulario %}    
        <form method="POST">
            {{ form.csrf_token }}
            <legend>Login</legend><br>
            {{ form.email.label }} 
            {{ form.email() }}<br>

            {{ form.password.label }} {{ form.password() }}<br>
            {{ form.botao_confirmacao() }}
        </form>
    {% endblock %}
</body>
</html>